@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    background: #121212;
}

button{
    background: transparent;
    border: 0;
    padding: 0;
    cursor: pointer;
}

.sidebar{
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    width: 75px;
    height: 100%;
    background: #3949ab;
    transition: all 0.4s;
}

body.open .sidebar{
    width: 240px;
}

.sidebar-inner{
    position: inner;
    top: 0;
    left: 0;
    width: 300px;
}

.sidebar-header{
    display: flex;
    align-items: center;
    height: 68px;
    padding: 0 1.25rem 0 0;
    background: rgba(0, 0, 0, 0.1);
    border-left: 3px solid transparent;
    transition: all 0.4s;
}

.sidebar-header:hover{
    border-left: 3px solid #bdbdbd;
}

.sidebar-burger{
    width: 70px;
    height: 70px;
    display: gird;
    place-items: center;
}

.sidebar-burger > i, body.open .sidebar-burger > i{
    font-size: 25px;
    color: #f9f9f9;
    transition: all 0.4s;
}